{{define "footer"}}
<div class="frame-42">
  <div class="frame-178">
    <div class="frame-107">
      <div class="frame-134">
        <img class="group-206" src="../assets/vectors/Unknown" />
      </div>
      <div class="container-8">
        Универсальные решения
      </div>
    </div>
    <div class="frame-143">
      <div class="frame-108">
        <div class="container-9">
          Контактные данные:
        </div>
        <p class="container-10">
          <span class="container-10-sub-14"></span><span></span>
        </p>
        <p class="container-11">
          <span class="container-11-sub-14"></span><span></span>
        </p>
        <p class="office-vagonzakazyandex-ru">
          <span class="office-vagonzakazyandex-ru-sub-75"></span><span></span>
        </p>
        <div class="frame-136">
          <p class="icq-whatsapp-telegram-79264668648">
            <span class="icq-whatsapp-telegram-79264668648-sub-14"></span><span></span>
          </p>
        </div>
      </div>
      <div class="frame-116">
        <div class="container-12">
          Адрес:
        </div>
        <div class="frame-111">
          <div class="container-13">
            124365
          </div>
          <div class="container-14">
            г.Москва
          </div>
          <div class="container-15">
            г.Зеленоград
          </div>
          <span class="container-16">
                  корп.1803, оф.70
                </span>
        </div>
      </div>
      <div class="frame-115">
        <div class="container-17">
          Компания:
        </div>
        <div class="frame-112">
          <div class="container-18">
            О нас
          </div>
          <div class="container-19">
            Услуги
          </div>
          <div class="container-20">
            Вагоны
          </div>
          <span class="container-21">
                  Маршруты
                </span>
        </div>
      </div>
    </div>
  </div>
  <span class="container-22">
          © ООО «Универсальные решения»
        </span>
</div>
{{end}}